*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid blue; */
    }


body {
    background-color: gray;
    background-image: url('assets/background.png');
    background-repeat: no-repeat;
}
/* the main container */

.card{
  width: 254px;
  height: 441px;
  margin: 50px  auto;
  box-shadow: 2px 5px 15px 0px #17161694;
  background-color:rgb(255, 255, 255);
  border-radius: 30px;
}



.card1
{
  background-image: url('assets/CardTop2.png')

}

.text-wrapper
{
  margin-left: 10px;
}

h1{
  margin-bottom: 0px;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 600;
  text-align: left;
  font-size: 28px;
  position: relative; top: 260px;
  color: #27a59c;
}

h2{
  margin-top: 0px;
  padding-top: 0px;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 200;
  font-size: 18px;
  text-align: left;
  position: relative; top: 265px;
  color: black
} 

h3{
  margin-top: 0px;
  padding-top: 0px;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 200;
  font-size: 18px;
  text-align: left;
  position: relative; top: 265px;
  color: black;
}

h4{
  margin-top: 0px;
  padding-top: 0px;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 200;
  font-size: 18px;
  text-align: left;
  position: relative; top: 265px;
  color: black;
}


a:link, a:visited {
  color: #0b8577;
  padding: 0px 0px;
  text-align: center;
  text-decoration: none;
}

a:hover {
  color: rgb(0, 151, 206);
}